      body {
      font-family: Arial, sans-serif;
      background: repeating-radial-gradient(circle, #1f2f98, #4adede 80px );
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background-color:#b4f2fc ;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    h1 {
      color: #333;
    }

    input {
      padding: 8px;
      margin-right: 10px;
    }

    button {
      padding: 8px 12px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .delete-button {
      background-color: #ff5858;
      color: #fff;
      border: none;
      padding: 6px 10px;
      cursor: pointer;
    }
  